# App
APP_NAME=Football Tech API
APP_VERSION=0.1.0
DEBUG=True
ENVIRONMENT=development

# Database
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/dbname

# Security
SECRET_KEY=your_secret_key_here

# Observability
LOG_LEVEL=DEBUG
OTLP_ENDPOINT=http://localhost:4317